
.grid {
    padding:20px;
    width:fit-content;
    display:grid;
    grid-template-columns: 1fr 1fr;
    height:200px;
    row-gap: 10px;
}

.card {
    display:flex;
    background-color: #fff;
    height:288px;
    margin:10px 0;
    justify-content: space-between;
}

.img {
    flex:0.5 1;
    width:288px;
    display: flex;
  background-color: #f7f7f7;
  justify-content:center;
  align-items: center;
    width:288px;
    height:288px;
}

.prodInfo {
    flex:1 1;
    background-color: #fff;
}

.prodInfo .title {
    /* margin:20px; */
    font-family:verdana;
    font-size:18px;
    color:#666
}

.desc {
    margin-top:5px;
    font-size:14px;
    font-family:verdana;
    line-height: 20px;
}

.price {
    font-weight: bold;
}

.prodInfo ul {
  padding:15px;
  list-style-type:none;
}